@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .sideBar-icon {
        @apply relative flex items-center justify-center h-12 mt-2 mb-2 text-blue-800 transition-all duration-300 ease-linear bg-yellow-300 w-28 rounded-3xl hover:text-white 
    }

    .nav {
        @apply relative top-0 left-0 flex flex-col h-screen m-0 text-white bg-gray-900 shadow-lg w-28
    }
    .user {
        @apply m-4 text-center bg-gray-500 rounded-lg
    }
    .button {
        @apply left-0 min-w-0 px-4 text-blue-800 transition-all duration-300 ease-linear bg-yellow-300 rounded-3xl
    }
    .button-message {
        @apply left-0 w-32 h-12 text-blue-800 transition-all duration-300 ease-linear bg-yellow-300 rounded-3xl hover:text-white 
    }
}
