.currentUserMessage {
    height: auto;
    padding: 0 16px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;

}

.rightMessage {
    align-self: flex-end;
    width: 55%;
}

.leftMessage {
    align-self: flex-start;
    width: 55%;
}

.messageContent {
    flex: 1 1 auto;
}

.imgPreloaderMessageSubmit {
    width: 2rem;
    display: block;
    margin: 0 auto;
}